@font-face {
  font-family: 'Tron';
  src: url(../Fonts/Tr2n.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../Images/TronBG.jpg);
  background-color: beige;
  background-size:contain;
  background-position: center;
}

#mainTitle h1 {
  font-family: 'Tron';
  font-weight: bold;
  color: chartreuse;
  font-size: 60px;
  margin-top: 2%;
}

.text1 {
  width: 70%;
  text-align: justify;
  margin: 0 auto;
  color: white;
  font-size: 15px;
  background-color: black;
  width: 55%;
  border-radius: 35px;
}

.btn1 {
  margin-right: 70px;
}

.btn2 {
  margin-left: 7px;
}

.btn3 {
  margin-left: 70px;
}

.BG2{
  background-image: url(../Images/TronBG.jpg);
  background-position: center;
}

.fantasyChange{
  font-size: 3rem;
  font-family: fantasy;
  color:darkturquoise;
  background-color: fuchsia
}

.Change1{
  text-align: center;
  color: Red;
  font-size: 40px
}

.change2{
  font-family: 'Tron';
  font-weight: bold;
  font-size: 50px;  
  background-color: beige;
  background-image: url(../Images/TronBG.jpg);
}

.body1{  
  background-image: url(../Images/TronBG.jpg);
}



.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
  font-family: 'Tron';
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

.textFormat{
  font-family: 'Tron';
  font-size: 50px;
}